@model IEnumerable<GameSphere.Models.Post>

@{
    ViewData["Title"] = "Index";
    var distinctItems = Model.Select(x => x.PostedBy).Distinct();

    var distinctTopic = Model.Select(x => x.Topic).Distinct();

    var distinctMessaAt = Model.Select(x => x.MessaAt.ToString("M/d/yyyy")).Distinct();
}


<div class="text-center" style="margin-bottom: 20px;">


</div>

<div class="text-center" style="margin-bottom: 20px;">

    <h3 class="bg-primary  text-white" style="margin-bottom: 20px;">
        Select the filter 
    </h3>



    <div class="dropdown d-inline-block">
        <a class="btn btn-third" href="#" id="adminDropdowwwnnn" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;background-color: #008000;" font-size: 90px;">
            please select topic
        </a>
        <div class="dropdown-menu text-left" aria-labelledby="adminDropdown">
            @foreach (var item in distinctTopic)
            {
                @*<a class="dropdown-item dropdown-item-clickable" data-topic="@item" asp-route-selectedTopic="@item">@item</a>*@
                <a asp-action="FilteredTopics" asp-controller="Filtered" class="dropdown-item" asp-route-topic="@item">@item</a>
            }
        </div>
    </div>

 

        <div class="dropdown d-inline-block"> 
            <a class="btn btn-primary" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #FF0000;">
                please select member
            </a>
            <div class="dropdown-menu text-center" aria-labelledby="adminDropdown">
            @foreach (var item in distinctItems)
                {
                @*<a class="dropdown-item dropdown-item-clickable" data-member="@item" asp-route-selectedMember="@item">@item</a>*@
                <a asp-action="FilteredByMember" asp-controller="Filtered" style="text-align:left;" class="dropdown-item" asp-route-member="@item">@item</a>
                }
            </div>
        </div>
    


        <div class="dropdown d-inline-block">
        <a class="btn btn-danger" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black; background-color: #FFFF00;">
            
           please selecta a date
            </a>
            <div class="dropdown-menu text-center" aria-labelledby="adminDropdown">
            @foreach (var item in distinctMessaAt)
                {
                @*<a class="dropdown-item dropdown-item-clickable" data-messaAt="@item" asp-route-selectedMessaAt="@item">@item;</a>*@
                <a asp-action="FilteredByDate" asp-controller="Filtered" class="dropdown-item" asp-route-date="@item">@item</a>
                }
            </div>
        </div>

    </div>



 

<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MessaAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.Topic)*@
                <a asp-action="Details" class="" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Topic)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessaAt)
            </td>
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
<style>
    .dropdown-menu .dropdown-item {
        max-width: 200px; 
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; 
        padding: 4px 8px; 
        margin: 0;
        color:grey;
    }
</style>