@model IEnumerable<GameSphere.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MessaAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessaAt)
            </td>
            <td>
                    @if (item.PostedBy == User.Identity?.Name) @*----------------------------------*@
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }
                    &nbsp;  <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
