@model GameSphere.Models.Post

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Topic</h1>
<br>

<div class="post-container">
    <div class="row">
        <div class="col-md-2">
            <div class="post-header">
                <span class="username">@Model.PostedBy</span>
                <div class="created-at">@Model.MessaAt</div>
                <br>
                <div>
                    @if (User.Identity.Name == Model.PostedBy)
                    {
                        <a asp-action="Edit" asp-route-id="@Model.Id">Edit | </a>
                    }
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>

        <div class="col-md-10">
            <div class="post-message">
                <h4>@Model.Message</h4>
            </div>
            <div class="post-image" style="text-align: left;">
                @if (!string.IsNullOrEmpty(Model.ImagePath))
                {
                    <img src="@Url.Content(Model.ImagePath)" alt="Game Image" width="900"/>
                }
                else
                {
                    <p>No image available</p>
                }
            </div>
            <br>
            
            <div class="post-reply">
                <form class="reply-form">
                    @Html.AntiForgeryToken()
                    <textarea id="replyInput" name="comment" placeholder="Reply to this post" class="comment-textarea"></textarea>
                    <input type="hidden" id="replyUsernameInput" value="@User.Identity.Name">
                    <button type="submit" class="reply-button">Reply</button>
                </form>
            </div>
        </div>
    </div>
</div>
